<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Profile</title>
  </head>
  <body style="font-size:20px; padding:50px;">
    <%= userInfo.username %>
    <%= userInfo.email %>
  </body>
</html>