<!DOCTYPE html>
<html lang="en">
  <head>
    <title>User Registration</title>
    <link rel="stylesheet" type="text/css" href="styles/layout.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.signup').hide();
        $('.login').hide();
        $('.signup-btn').on("click", function() {
          $('.login').hide();
          $('.signup').slideToggle('slow');
        });
        $('.login-btn').on("click", function() {
          $('.signup').hide();
          $('.login').slideToggle('slow');
        });
      });
  </script>

  </head>
  <body>
    <div style="margin-top:35px;" class="container-fluid">
      <div class="row">
        <div class="col-md-8" style="float: none; margin: 0 auto;">
          <button type="button" class="btn btn-primary btn-lg btn-block signup-btn">Sign Up</button>
          <button type="button" class="btn btn-primary btn-lg btn-block login-btn">Login</button>
        </div>
      </div>
    </div>

    <div class="container signup">
      <div class="row">
        <form  class="form-horizontal" action="/user_registration" method="POST">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-6">
              <input type="text" name="username" class="form-control" id="username" placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
              <input type="email" name="email" class="form-control" id="email" placeholder="Email">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
              <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
             <button type="submit" value="Register" class="btn btn-default">Sign up</button>
           </div>
          </div>
        </form>
      </div>
    </div>

  <div class="container login">
      <div class="row">
        <form class="form-horizontal" action="/user_login" method="POST">
          <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Username</label>
            <div class="col-sm-6">
              <input type="text" name="username" class="form-control" id="username" placeholder="Name">
            </div>
          </div>

          <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
              <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10">
             <button type="submit" value="Login" class="btn btn-default">Login</button>
           </div>
          </div>
        </form>
      </div>
    </div>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
      </script>
  </body>
</html>