body {
  text-align: center;
}

body::after {
  content: "";
  background: url("../images/doodle todo 2.jpg");
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

body h1 {
  color: #244751;
}

main {
  width: 80%;
  margin: auto;
}

main section div {
  width: 300px;
  height: 280px;
  background-color: rgba(252, 248, 227, 0.9);
  border-radius: 50px;
  padding-top: 20px;
  border: 3px solid lightgrey;
}

main section div:hover {
  -webkit-box-shadow: black 2px 2px 3px 2px;
}

/*====================
  CLASS Selectors
=====================*/
.navbar .pageLink {
  padding-right: 20px;
}

.navbar-inverse {
  background-color: #8ca2cb;
}

.footer-bottom {
  margin-top: 10px;
  margin: auto;
}

.copyright {
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  right: 50%;
}

.form-horizontal {
  margin-top: 35px;
}

.home-form {
  width: 80%;
  margin: auto;
}
